body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
.main{
background-image: url("../img/backgrounds/landing.jpg");
background-repeat: no-repeat;



}
.main img{
  margin-left: 43%;

}
.main p{
  text-align: center;
}
.main strong{
 color: white;
 font-family: 'Raleway',sans-serif;

}
.fastfood p{
  width: 45%;
  height:200%;
  margin-left: 20%;
}
.fastfood img{
  margin-left: 25%;
}
